@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono"),
    url(../assets/fonts/RobotoMono-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono"),
    url(../assets/fonts/RobotoMono-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #34d399;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #28a175;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #111827;
  overflow-x: hidden;
}

section .typed-name .typed-cursor {
  position: relative;
  bottom: 0px;
  font-size: 48px;
  color: rgb(229, 231, 235);
  margin-left: 2px;
}

.cursor {
  box-shadow: 0 0 10px #34d399;
  filter: blur(45px);
}

.class_image_contact {
  display: none;
}

.class_blog_navigation {
  display: none;
}

@media screen and (min-width: 1024px) {
  section .typed-name .typed-cursor {
    bottom: 8px;
    font-size: 60px;
  }

  .class_image_contact {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  section .typed-name .typed-cursor {
    bottom: 8px;
    font-size: 72px;
  }

  .class_blog_navigation {
    display: block;
  }
}
